langchain==0.3.7
langchain-community==0.3.7
langchain-mistralai==0.2.3
sentence-transformers==3.3.1
chromadb==0.5.23
pymupdf==1.24.14
python-docx==1.1.2
python-pptx==1.0.2
streamlit==1.40.2
ragas==0.2.6
apscheduler==3.10.4
requests==2.32.3
beautifulsoup4==4.12.3
psycopg2-binary==2.9.10
pgvector==0.3.6
python-dotenv==1.0.1
docker==7.1.0
