apscheduler==3.10.4
beautifulsoup4==4.12.3
chromadb==0.5.23
docker==7.1.0
langchain==0.3.7
langchain-community==0.3.7
langchain-mistralai==0.2.3
langchain-huggingface==0.1.0
langchain-chroma==0.1.4
pgvector==0.3.6
psycopg2-binary==2.9.10
pymupdf==1.24.14
python-docx==1.1.2
python-dotenv==1.0.1
python-pptx==1.0.2
ragas==0.2.6
reportlab==4.5.1
requests==2.32.3
sentence-transformers==3.3.1
streamlit==1.40.2